@CHARSET "utf-8";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
.intro1{
	padding-top: 10%;
}
.intro1 h1{
	width: 60%;
	margin: 0 auto;
	font-size: 1.5em;
	line-height: 30px;
}
.intro2{
	padding-top: 30%;
}
.intro2 h1,.intro3 h1,.intro4 h1,.intro5 h1{
	width: 60%;
	margin: 0 auto;
	font-size: 1.5em;
	line-height: 26px;
}
.intro2 p,.intro3 p{
	width: 60%;
	margin: 0 auto;
	font-size: 1.2em;
	line-height: 26px;
}
.intro4 h1{
	width: 80%;
	margin: 10px auto;
	font-size: 1.5em;
	line-height: 26px;
}
.intro4 p{
	width: 80%;
	margin: 10px auto;
	font-size: 1.2em;
	line-height: 26px;
}
.intro5{
	padding-top: 40%;
}

.intro5 p{
	width: 80%;
	margin: 0 auto;
	font-size: 1.2em;
	line-height: 26px;
}

.infoHide{
	opacity: 0;
}
.section{
	text-align:center;	
}
.theme0{
	background: url(http://ogovuaov8.bkt.clouddn.com/3.jpg) no-repeat;
	background-position: center;
	background-size: 100%;
}
.theme1{
	background: url(http://ogovuaov8.bkt.clouddn.com/18.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}
.theme2{
	background: url(http://ogovuaov8.bkt.clouddn.com/32.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}
.theme3{
	background: url(http://ogovuaov8.bkt.clouddn.com/8.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}
.theme4{
	background: url(http://ogovuaov8.bkt.clouddn.com/31.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}
.theme5{
	background: url(http://ogovuaov8.bkt.clouddn.com/5.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}
.username{
	width: auto;
	height: 30px;
	line-height: 30px;
	font-size: 1.5em;
	letter-spacing:2px; 
	color: #000;
}

#infoMenu{
	height: 20px;
	color: #f2f2f2;
	position:fixed;
	z-index:70;
	bottom:0;
	width:100%;
	text-align:right;
	font-size:0.9em;
	padding:8px 0 8px 0;
}
#infoMenu ul{
	padding: 0 40px;
}
#infoMenu li a{
	display: block;
	margin: 0 22px 0 0;
	color: #333;
}
#infoMenu li a:hover{
	text-decoration:underline;
}
#infoMenu li{
	display:inline-block;
	position:relative;
}
.mypic{
	width: 80%;
	height: auto;
	margin: 0 auto;
}
.mypic img{
	width: 100%;
	height: 100%;
}
.mybtn{
	width: 80px;
	height: 30px;
	line-height: 30px;
	font-family: "微软雅黑";
	font-size: 16px;
	background: #0099FF;
	color: #fff;
	outline: none;
	border: none;
	cursor: pointer;
	margin: 0 2%;
}
.copyBtn{
	width: 100px;
	height: 40px;
	line-height: 38px;
	font-family: "微软雅黑";
	font-size: 16px;
	text-align: center;
	background: #0099FF;
	color: #fff;
	outline: none;
	border: none;
	cursor: pointer;
	margin: 0 2%;
}
.yesReply,.noReply,.yesReply3{
	width: 72%;
    height: 10%;
    padding: 4%;
    background: #fff;  
    position: absolute;
    z-index: 100;
    bottom: 40%;
    left: 10%;
    display: none;
    /*transform: scale(0);
    -webkit-transform: scale(0);*/
}
.yesReply2{
	width: 72%;
    height: 30%;
    padding: 4%;
    background: #fff;  
    position: absolute;
    z-index: 100;
    bottom: 40%;
    left: 10%;
    display: none;
}
.yes:disabled,.no:disabled,.high:disabled,.low:disabled{
	background: #999 !important;
    cursor: no-drop;
}
.yesReply p,.noReply p,.yesReply3 p{
	font-family: "微软雅黑";
	font-size: 18px;
	line-height: 30px;
}
.yesReply2 p{
	font-family: "微软雅黑";
	font-size: 18px;
	line-height: 30px;
}
.copyRight{
	width: 72%;
    height: 10%;
    padding: 4%;
    background: #fff;  
    position: absolute;
    z-index: 100;
    bottom: 40%;
    left: 10%;
    display: none;
}
.copyRight p{
	font-family: "微软雅黑";
	font-size: 18px;
	line-height: 30px;
}
.showup{
	transform:scale(1);
	-webkit-transform:scale(1);
	transition:all 0.3s;
	-webkit-transition:all 0.3s;
}
#pwd{
	font-family: "微软雅黑";
	font-size: 20px;
	font-weight: bold;
	line-height: 40px;
	padding-bottom: 10px;
	color: #FF0000;
}
