body {
	font-family: "微软雅黑", arial;
	max-width: 768px;
	margin: 0 auto;
	background: url(http://ogovuaov8.bkt.clouddn.com/4.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

* {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
}

img {
	border: none;
	vertical-align: bottom;
}

.clear {
	clear: both;
}
.username{
	display: block;
	float: left;
	width: auto;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	letter-spacing:2px; 
	color: #005555;
}
.hello{
	float: left;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	letter-spacing:2px; 
	padding-left: 5%;
	color: #005555;
}
	
.head{
	width: 100%;
	height: 30px;
	margin-top: 140px;
}
.content{
	width: 90%;
	padding: 0 5%;
}
.content p{
	text-indent: 2em;
    font-size: 16px;  
    color: #005555;   
}





/*隐藏滚动条*/
::-webkit-scrollbar {
	display: none;
}

