body {
	background: #f7f7f5;
	font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif
}

.redPacket {
	height: 64px;
	border-bottom: 1px solid #000;
	background: #E00000
}

.redPacket p {
	color: #fff;
	text-align: center;
	font-size: 20px;
	line-height: 60px
}

.hide {
	display: none
}

.paper-t {
	display: block;
	height: 16px;
	width: 100%;
	background: url(../img/paper.jpg) repeat-x;
	background-size: 320px 15px
}

.paper-b {
	display: block;
	height: 19px;
	width: 100%;
	background: url(../img/paper-b.jpg) repeat-x;
	background-size: 100% 19px;
	position: absolute;
	bottom: 0px
}

.main {
	color: #2495e1;
	margin: -61px 8px 0px;
	height: 100%;
	position: relative
}

.main .main-top {
	padding-top: 61px;
	font-weight: 500
}

.main .main-top .main-top-l {
	float: left
}

.main .main-top .main-top-r {
	float: right
}

.main .main-top:after {
	content: "";
	display: block;
	clear: both
}


.top2 {
	text-align: center;
	margin-top: 40px;
}

.top2 p {
	margin: 10px 0px;
	color: #2495e1;
}

.top2 input {
	height: 30px;
	padding: 5px;
	border-radius: 3px;
	border: 2px solid #2495e1;
	outline: none;
}

.top2 img {
	width: 43%;
}